{% extends 'app/layout_clean.html' %}
{% load static %}
{% block title %}
    Реєстрація
{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post" class="login-form">
        {% csrf_token %}
        
        <div class="form-row">
            <label for="id_phone">Номер телефону:</label>
            {{ form.phone_number }}
            {% if form.phone_number.errors %}
                <div class="error">
                    {% for error in form.phone_number.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-row">
            <label for="id_nickname">Нікнейм:</label>
            {{ form.nickname }}
            {% if form.nickname.errors %}
                <div class="error">
                    {% for error in form.nickname.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-row">
            <label for="id_password1">Пароль:</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="error">
                    {% for error in form.password1.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-row">
            <label for="id_password2">Підтвердження пароля:</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="error">
                    {% for error in form.password2.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit">Зареєструватися</button>
        <a href="{% url 'login' %}">Увійти</a>    

        {% if form.non_field_errors %}
        <div class="error form-errors">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
